.header{
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    justify-content: space-between;
}


.logo{
width: 200px;
}

.nav-items>ul{
    font-size: 24px;
    display:flex;
    list-style-type: none;
    
    

}

.nav-items>ul>li{
    padding: 10px;
    margin-right: 10px;
    size: 24px;
}

.res-card{
    margin:5px;
    width: 200px;
    background-color: #f0f0f0;
    padding:14px;
}

.res-card:hover{
    cursor: pointer;
    border: 2px solid #ec32c0;
}

.search{
    padding: 10px;
}

.flogo{
    width:100%;
    

}

.res-container{
    display:flex;
    flex-wrap: wrap;
    padding:8px;
}

.filter-btn{
    margin:10px;
    cursor:pointer;
}
